{{#if hasLogin}}
	<div class="ui right thin sidebar active menu-sidebar" id="menu-sidebar">
		<div class="ui black inverted vertical fluid menu">
			<a href="/" class="item index" data-content="首页" data-variation="inverted" data-position="left center">
				<i class="home icon"></i>首页
			</a>
			<a href="/collections/sub" class="item collections" data-content="专题" data-variation="inverted" data-position="left center">
				<i class="icon grid layout"></i>专题
			</a>
			<!--<a href="/top/weekly" class="item top" data-content="微糖热门" data-variation="inverted" data-position="left center">
				<i class="icon sort attributes descending"></i>微糖热门
			</a>
			<a href="/timeline" class="item" data-content="最新动态" data-variation="inverted" data-position="left center">
				<i class="icon rss"></i>最新动态
			</a>-->
			<a href="/write#/" class="item write" data-content="写文章" data-variation="inverted" data-position="left center">
				<i class="icon edit"></i>写文章
			</a>
		</div>
	
		<div class="ui black inverted vertical fluid menu bottom">
			<a href="/users/{{user._id}}" class="item users" data-content="我的主页" data-variation="inverted" data-position="left center">
				<i class="user icon"></i>我的主页
			</a>
			<!--<a href="/bookmarks" class="item" data-content="我的书签" data-variation="inverted" data-position="left center">
				<i class="icon bookmark"></i>我的书签
			</a>
			<a href="/notifications" class="item" data-content="提醒" data-variation="inverted" data-position="left center">
				<i class="icon bell"></i>提醒
			</a>-->
			<a href="/messages" class="item messages" data-content="私信" data-variation="inverted" data-position="left center">
				<i class="icon mail"></i>私信
			</a>
			<a href="/settings" class="item settings" data-content="设置" data-variation="inverted" data-position="left center">
				<i class="icon settings"></i>设置
			</a>
			<a href="/signOut" class="item" data-content="登出" data-variation="inverted" data-position="left center">
				<i class="icon sign out"></i>登出
			</a>
		</div>
	</div>
{{else}}
	<div class="ui right thin sidebar active menu-sidebar" id="menu-sidebar">
		<div class="ui black inverted vertical fluid menu">
			<a href="/" class="item index" data-content="首页" data-variation="inverted" data-position="left center">
				<i class="home icon"></i>首页
			</a>
			<a href="/collections" class="item collections" data-content="专题" data-variation="inverted" data-position="left center">
				<i class="icon grid layout"></i>专题
			</a>
			<!--<a href="/top/weekly" class="item top" data-content="微糖热门" data-variation="inverted" data-position="left center">
				<i class="icon sort attributes descending"></i>微糖热门
			</a>-->
		</div>
	
		<div class="ui black inverted vertical fluid menu bottom">
			<a href="/signIn" class="item signIn" data-content="登录" data-variation="inverted" data-position="left center">
				<i class="icon sign in"></i>登录
			</a>
			<a href="/signUp" class="item signUp" data-content="注册" data-variation="inverted" data-position="left center">
				<i class="icon sign out"></i>注册
			</a>
		</div>
	</div>
{{/if}}
<div class="ui default icon red button toggle-sidebar" id="toggle-sidebar">
	<i class="reorder icon"></i>
</div>
<script>
	window.onload = function() {
		$('#menu-sidebar .menu .item').popup();

		$('.toggle-sidebar').on('click', function() {
			$("#menu-sidebar").toggle();
			$('#toggle-sidebar').toggleClass('active');
		});

		var href = window.location.href;

		if (/collection/.test(href)) {
			$('#menu-sidebar .collections.item').addClass('active');
		} else if (/signIn/.test(href)) {
			$('#menu-sidebar .signIn.item').addClass('active');
		} else if (/signUp/.test(href)) {
			$('#menu-sidebar .signUp.item').addClass('active');
		} else if (/top/.test(href)) {
			$('#menu-sidebar .top.item').addClass('active');
		} else if(/write/.test(href)) {
			$('#menu-sidebar .write.item').addClass('active');
		} else if(/users/.test(href)) {
			$('#menu-sidebar .users.item').addClass('active');
		} else if(/messages/.test(href)) {
			$('#menu-sidebar .messages.item').addClass('active');
		} else if(/settings/.test(href)) {
			$('#menu-sidebar .settings.item').addClass('active');
		} else {
			$('#menu-sidebar .index.item').addClass('active');
		}

		if ($('.qrcode').length !== 0) {
			$('.qrcode').qrcode(href);
		}
	}; 
</script>