<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>{{notebook.name}} | 微糖</title>
		<link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/common2.css" />
		<link rel="stylesheet" href="/css/notebook.css" />
		<script>
			var GNS = {
				notebook: {
					_id: "{{notebook._id}}"
				}
			}
		</script>
	</head>
	<body>
		{{> menu }}
		<div class="ui grid">
			{{> notebook_panel }}
			<div class="nine wide column">
				<div class="ui secondary red pointing menu">
					<div class="active item">{{notebook.subsNum}} 人订阅</div>
				</div>
				<div class="ui divided list userList" id="userList">
					
				</div>
				<div class="ui header black center aligned loadMore" id="loadMore">
					加载更多
				</div>
			</div>
		</div>

		<script src="/lib/modernizr.js"></script>
		<script src="/lib/jquery.min.js"></script>
		<script src="/lib/semantic.js"></script>
		<script src="/lib/jquery.qrcode.min.js"></script>
		<script data-main="/js/subscribersOfNotebook" src="/lib/require.js"></script>

		{{#if hasLogin }}
		{{else}}
		{{> login_modal }}
		{{/if}}

	</body>
</html>